<!DOCTYPE html>
<html>
<head>
  <title>rcbplayspokemon</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div>
    {{{ body }}}
    </div>
</body>
</html>